$lato: "Lato", sans-serif;
$poppins: "Poppins", sans-serif;
$white: #fff;
$dark-grey: #25221e;
$purple: #8844ee;

* {
  box-sizing: border-box;
}

@import "container", "box";

@media (min-width: 375px) {
  .container {
    width: 100vw;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
